<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbippub.mapper.HbipPubCityMapper" >
  <resultMap id="BaseResultMap" type="com.hbippub.pojo.HbipPubCity" >
    <id column="ChengShiID" property="chengshiid" jdbcType="INTEGER" />
    <result column="ChengShiMingCheng" property="chengshimingcheng" jdbcType="VARCHAR" />
    <result column="YouBian" property="youbian" jdbcType="VARCHAR" />
    <result column="ShunXuHao" property="shunxuhao" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ChengShiID, ChengShiMingCheng, YouBian, ShunXuHao
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubCityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbip_pub_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hbip_pub_city
    where ChengShiID = #{chengshiid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hbip_pub_city
    where ChengShiID = #{chengshiid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbippub.pojo.HbipPubCityExample" >
    delete from hbip_pub_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbippub.pojo.HbipPubCity" >
    insert into hbip_pub_city (ChengShiID, ChengShiMingCheng, YouBian, 
      ShunXuHao)
    values (#{chengshiid,jdbcType=INTEGER}, #{chengshimingcheng,jdbcType=VARCHAR}, #{youbian,jdbcType=VARCHAR}, 
      #{shunxuhao,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hbippub.pojo.HbipPubCity" >
    insert into hbip_pub_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chengshiid != null" >
        ChengShiID,
      </if>
      <if test="chengshimingcheng != null" >
        ChengShiMingCheng,
      </if>
      <if test="youbian != null" >
        YouBian,
      </if>
      <if test="shunxuhao != null" >
        ShunXuHao,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chengshiid != null" >
        #{chengshiid,jdbcType=INTEGER},
      </if>
      <if test="chengshimingcheng != null" >
        #{chengshimingcheng,jdbcType=VARCHAR},
      </if>
      <if test="youbian != null" >
        #{youbian,jdbcType=VARCHAR},
      </if>
      <if test="shunxuhao != null" >
        #{shunxuhao,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbippub.pojo.HbipPubCityExample" resultType="java.lang.Integer" >
    select count(*) from hbip_pub_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbip_pub_city
    <set >
      <if test="record.chengshiid != null" >
        ChengShiID = #{record.chengshiid,jdbcType=INTEGER},
      </if>
      <if test="record.chengshimingcheng != null" >
        ChengShiMingCheng = #{record.chengshimingcheng,jdbcType=VARCHAR},
      </if>
      <if test="record.youbian != null" >
        YouBian = #{record.youbian,jdbcType=VARCHAR},
      </if>
      <if test="record.shunxuhao != null" >
        ShunXuHao = #{record.shunxuhao,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbip_pub_city
    set ChengShiID = #{record.chengshiid,jdbcType=INTEGER},
      ChengShiMingCheng = #{record.chengshimingcheng,jdbcType=VARCHAR},
      YouBian = #{record.youbian,jdbcType=VARCHAR},
      ShunXuHao = #{record.shunxuhao,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbippub.pojo.HbipPubCity" >
    update hbip_pub_city
    <set >
      <if test="chengshimingcheng != null" >
        ChengShiMingCheng = #{chengshimingcheng,jdbcType=VARCHAR},
      </if>
      <if test="youbian != null" >
        YouBian = #{youbian,jdbcType=VARCHAR},
      </if>
      <if test="shunxuhao != null" >
        ShunXuHao = #{shunxuhao,jdbcType=INTEGER},
      </if>
    </set>
    where ChengShiID = #{chengshiid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubCity" >
    update hbip_pub_city
    set ChengShiMingCheng = #{chengshimingcheng,jdbcType=VARCHAR},
      YouBian = #{youbian,jdbcType=VARCHAR},
      ShunXuHao = #{shunxuhao,jdbcType=INTEGER}
    where ChengShiID = #{chengshiid,jdbcType=INTEGER}
  </update>
</mapper>