<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbippub.mapper.HbipPubFormFieldMapper" >
  <resultMap id="BaseResultMap" type="com.hbippub.pojo.HbipPubFormField" >
    <id column="ZiDuanID" property="ziduanid" jdbcType="INTEGER" />
    <id column="ShenQingBiaoID" property="shenqingbiaoid" jdbcType="INTEGER" />
    <result column="ZiDuanLeiXing" property="ziduanleixing" jdbcType="INTEGER" />
    <result column="ZiDuanShunXu" property="ziduanshunxu" jdbcType="INTEGER" />
    <result column="ZiDuanMingCheng" property="ziduanmingcheng" jdbcType="CHAR" />
    <result column="ZiDuanShuJu" property="ziduanshuju" jdbcType="CHAR" />
    <result column="ShiFouYiShanChu" property="shifouyishanchu" jdbcType="INTEGER" />
    <result column="BeiZhu" property="beizhu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ZiDuanID, ShenQingBiaoID, ZiDuanLeiXing, ZiDuanShunXu, ZiDuanMingCheng, ZiDuanShuJu, 
    ShiFouYiShanChu, BeiZhu
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubFormFieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbip_pub_form_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubFormFieldKey" >
    select 
    <include refid="Base_Column_List" />
    from hbip_pub_form_field
    where ZiDuanID = #{ziduanid,jdbcType=INTEGER}
      and ShenQingBiaoID = #{shenqingbiaoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubFormFieldKey" >
    delete from hbip_pub_form_field
    where ZiDuanID = #{ziduanid,jdbcType=INTEGER}
      and ShenQingBiaoID = #{shenqingbiaoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbippub.pojo.HbipPubFormFieldExample" >
    delete from hbip_pub_form_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbippub.pojo.HbipPubFormField" >
    insert into hbip_pub_form_field (ZiDuanID, ShenQingBiaoID, ZiDuanLeiXing, 
      ZiDuanShunXu, ZiDuanMingCheng, ZiDuanShuJu, 
      ShiFouYiShanChu, BeiZhu)
    values (#{ziduanid,jdbcType=INTEGER}, #{shenqingbiaoid,jdbcType=INTEGER}, #{ziduanleixing,jdbcType=INTEGER}, 
      #{ziduanshunxu,jdbcType=INTEGER}, #{ziduanmingcheng,jdbcType=CHAR}, #{ziduanshuju,jdbcType=CHAR}, 
      #{shifouyishanchu,jdbcType=INTEGER}, #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hbippub.pojo.HbipPubFormField" >
    insert into hbip_pub_form_field
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ziduanid != null" >
        ZiDuanID,
      </if>
      <if test="shenqingbiaoid != null" >
        ShenQingBiaoID,
      </if>
      <if test="ziduanleixing != null" >
        ZiDuanLeiXing,
      </if>
      <if test="ziduanshunxu != null" >
        ZiDuanShunXu,
      </if>
      <if test="ziduanmingcheng != null" >
        ZiDuanMingCheng,
      </if>
      <if test="ziduanshuju != null" >
        ZiDuanShuJu,
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu,
      </if>
      <if test="beizhu != null" >
        BeiZhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ziduanid != null" >
        #{ziduanid,jdbcType=INTEGER},
      </if>
      <if test="shenqingbiaoid != null" >
        #{shenqingbiaoid,jdbcType=INTEGER},
      </if>
      <if test="ziduanleixing != null" >
        #{ziduanleixing,jdbcType=INTEGER},
      </if>
      <if test="ziduanshunxu != null" >
        #{ziduanshunxu,jdbcType=INTEGER},
      </if>
      <if test="ziduanmingcheng != null" >
        #{ziduanmingcheng,jdbcType=CHAR},
      </if>
      <if test="ziduanshuju != null" >
        #{ziduanshuju,jdbcType=CHAR},
      </if>
      <if test="shifouyishanchu != null" >
        #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbippub.pojo.HbipPubFormFieldExample" resultType="java.lang.Integer" >
    select count(*) from hbip_pub_form_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbip_pub_form_field
    <set >
      <if test="record.ziduanid != null" >
        ZiDuanID = #{record.ziduanid,jdbcType=INTEGER},
      </if>
      <if test="record.shenqingbiaoid != null" >
        ShenQingBiaoID = #{record.shenqingbiaoid,jdbcType=INTEGER},
      </if>
      <if test="record.ziduanleixing != null" >
        ZiDuanLeiXing = #{record.ziduanleixing,jdbcType=INTEGER},
      </if>
      <if test="record.ziduanshunxu != null" >
        ZiDuanShunXu = #{record.ziduanshunxu,jdbcType=INTEGER},
      </if>
      <if test="record.ziduanmingcheng != null" >
        ZiDuanMingCheng = #{record.ziduanmingcheng,jdbcType=CHAR},
      </if>
      <if test="record.ziduanshuju != null" >
        ZiDuanShuJu = #{record.ziduanshuju,jdbcType=CHAR},
      </if>
      <if test="record.shifouyishanchu != null" >
        ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="record.beizhu != null" >
        BeiZhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbip_pub_form_field
    set ZiDuanID = #{record.ziduanid,jdbcType=INTEGER},
      ShenQingBiaoID = #{record.shenqingbiaoid,jdbcType=INTEGER},
      ZiDuanLeiXing = #{record.ziduanleixing,jdbcType=INTEGER},
      ZiDuanShunXu = #{record.ziduanshunxu,jdbcType=INTEGER},
      ZiDuanMingCheng = #{record.ziduanmingcheng,jdbcType=CHAR},
      ZiDuanShuJu = #{record.ziduanshuju,jdbcType=CHAR},
      ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      BeiZhu = #{record.beizhu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbippub.pojo.HbipPubFormField" >
    update hbip_pub_form_field
    <set >
      <if test="ziduanleixing != null" >
        ZiDuanLeiXing = #{ziduanleixing,jdbcType=INTEGER},
      </if>
      <if test="ziduanshunxu != null" >
        ZiDuanShunXu = #{ziduanshunxu,jdbcType=INTEGER},
      </if>
      <if test="ziduanmingcheng != null" >
        ZiDuanMingCheng = #{ziduanmingcheng,jdbcType=CHAR},
      </if>
      <if test="ziduanshuju != null" >
        ZiDuanShuJu = #{ziduanshuju,jdbcType=CHAR},
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        BeiZhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where ZiDuanID = #{ziduanid,jdbcType=INTEGER}
      and ShenQingBiaoID = #{shenqingbiaoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubFormField" >
    update hbip_pub_form_field
    set ZiDuanLeiXing = #{ziduanleixing,jdbcType=INTEGER},
      ZiDuanShunXu = #{ziduanshunxu,jdbcType=INTEGER},
      ZiDuanMingCheng = #{ziduanmingcheng,jdbcType=CHAR},
      ZiDuanShuJu = #{ziduanshuju,jdbcType=CHAR},
      ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      BeiZhu = #{beizhu,jdbcType=VARCHAR}
    where ZiDuanID = #{ziduanid,jdbcType=INTEGER}
      and ShenQingBiaoID = #{shenqingbiaoid,jdbcType=INTEGER}
  </update>
</mapper>