<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbippub.mapper.HbipPubHomePageNewsMapper" >
  <resultMap id="BaseResultMap" type="com.hbippub.pojo.HbipPubHomePageNews" >
    <id column="XinWenID" property="xinwenid" jdbcType="INTEGER" />
    <result column="XinWenMingCheng" property="xinwenmingcheng" jdbcType="CHAR" />
    <result column="FengMianURL" property="fengmianurl" jdbcType="CHAR" />
    <result column="TuiSongShiJian" property="tuisongshijian" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hbippub.pojo.HbipPubHomePageNews" extends="BaseResultMap" >
    <result column="NeiRong" property="neirong" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    XinWenID, XinWenMingCheng, FengMianURL, TuiSongShiJian
  </sql>
  <sql id="Blob_Column_List" >
    NeiRong
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hbippub.pojo.HbipPubHomePageNewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hbip_pub_home_page_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubHomePageNewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbip_pub_home_page_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hbip_pub_home_page_news
    where XinWenID = #{xinwenid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hbip_pub_home_page_news
    where XinWenID = #{xinwenid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbippub.pojo.HbipPubHomePageNewsExample" >
    delete from hbip_pub_home_page_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbippub.pojo.HbipPubHomePageNews" >
    insert into hbip_pub_home_page_news (XinWenID, XinWenMingCheng, FengMianURL, 
      TuiSongShiJian, NeiRong)
    values (#{xinwenid,jdbcType=INTEGER}, #{xinwenmingcheng,jdbcType=CHAR}, #{fengmianurl,jdbcType=CHAR}, 
      #{tuisongshijian,jdbcType=TIMESTAMP}, #{neirong,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hbippub.pojo.HbipPubHomePageNews" >
    insert into hbip_pub_home_page_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xinwenid != null" >
        XinWenID,
      </if>
      <if test="xinwenmingcheng != null" >
        XinWenMingCheng,
      </if>
      <if test="fengmianurl != null" >
        FengMianURL,
      </if>
      <if test="tuisongshijian != null" >
        TuiSongShiJian,
      </if>
      <if test="neirong != null" >
        NeiRong,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xinwenid != null" >
        #{xinwenid,jdbcType=INTEGER},
      </if>
      <if test="xinwenmingcheng != null" >
        #{xinwenmingcheng,jdbcType=CHAR},
      </if>
      <if test="fengmianurl != null" >
        #{fengmianurl,jdbcType=CHAR},
      </if>
      <if test="tuisongshijian != null" >
        #{tuisongshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="neirong != null" >
        #{neirong,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbippub.pojo.HbipPubHomePageNewsExample" resultType="java.lang.Integer" >
    select count(*) from hbip_pub_home_page_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbip_pub_home_page_news
    <set >
      <if test="record.xinwenid != null" >
        XinWenID = #{record.xinwenid,jdbcType=INTEGER},
      </if>
      <if test="record.xinwenmingcheng != null" >
        XinWenMingCheng = #{record.xinwenmingcheng,jdbcType=CHAR},
      </if>
      <if test="record.fengmianurl != null" >
        FengMianURL = #{record.fengmianurl,jdbcType=CHAR},
      </if>
      <if test="record.tuisongshijian != null" >
        TuiSongShiJian = #{record.tuisongshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.neirong != null" >
        NeiRong = #{record.neirong,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update hbip_pub_home_page_news
    set XinWenID = #{record.xinwenid,jdbcType=INTEGER},
      XinWenMingCheng = #{record.xinwenmingcheng,jdbcType=CHAR},
      FengMianURL = #{record.fengmianurl,jdbcType=CHAR},
      TuiSongShiJian = #{record.tuisongshijian,jdbcType=TIMESTAMP},
      NeiRong = #{record.neirong,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbip_pub_home_page_news
    set XinWenID = #{record.xinwenid,jdbcType=INTEGER},
      XinWenMingCheng = #{record.xinwenmingcheng,jdbcType=CHAR},
      FengMianURL = #{record.fengmianurl,jdbcType=CHAR},
      TuiSongShiJian = #{record.tuisongshijian,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbippub.pojo.HbipPubHomePageNews" >
    update hbip_pub_home_page_news
    <set >
      <if test="xinwenmingcheng != null" >
        XinWenMingCheng = #{xinwenmingcheng,jdbcType=CHAR},
      </if>
      <if test="fengmianurl != null" >
        FengMianURL = #{fengmianurl,jdbcType=CHAR},
      </if>
      <if test="tuisongshijian != null" >
        TuiSongShiJian = #{tuisongshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="neirong != null" >
        NeiRong = #{neirong,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where XinWenID = #{xinwenid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hbippub.pojo.HbipPubHomePageNews" >
    update hbip_pub_home_page_news
    set XinWenMingCheng = #{xinwenmingcheng,jdbcType=CHAR},
      FengMianURL = #{fengmianurl,jdbcType=CHAR},
      TuiSongShiJian = #{tuisongshijian,jdbcType=TIMESTAMP},
      NeiRong = #{neirong,jdbcType=LONGVARCHAR}
    where XinWenID = #{xinwenid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubHomePageNews" >
    update hbip_pub_home_page_news
    set XinWenMingCheng = #{xinwenmingcheng,jdbcType=CHAR},
      FengMianURL = #{fengmianurl,jdbcType=CHAR},
      TuiSongShiJian = #{tuisongshijian,jdbcType=TIMESTAMP}
    where XinWenID = #{xinwenid,jdbcType=INTEGER}
  </update>
</mapper>