<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbippub.mapper.HbipPubRoleRightsMapper" >
  <resultMap id="BaseResultMap" type="com.hbippub.pojo.HbipPubRoleRightsKey" >
    <id column="QuanXianID" property="quanxianid" jdbcType="INTEGER" />
    <id column="JueSeID" property="jueseid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    QuanXianID, JueSeID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubRoleRightsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbip_pub_role_rights
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubRoleRightsKey" >
    delete from hbip_pub_role_rights
    where QuanXianID = #{quanxianid,jdbcType=INTEGER}
      and JueSeID = #{jueseid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbippub.pojo.HbipPubRoleRightsExample" >
    delete from hbip_pub_role_rights
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbippub.pojo.HbipPubRoleRightsKey" >
    insert into hbip_pub_role_rights (QuanXianID, JueSeID)
    values (#{quanxianid,jdbcType=INTEGER}, #{jueseid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hbippub.pojo.HbipPubRoleRightsKey" >
    insert into hbip_pub_role_rights
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quanxianid != null" >
        QuanXianID,
      </if>
      <if test="jueseid != null" >
        JueSeID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quanxianid != null" >
        #{quanxianid,jdbcType=INTEGER},
      </if>
      <if test="jueseid != null" >
        #{jueseid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbippub.pojo.HbipPubRoleRightsExample" resultType="java.lang.Integer" >
    select count(*) from hbip_pub_role_rights
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbip_pub_role_rights
    <set >
      <if test="record.quanxianid != null" >
        QuanXianID = #{record.quanxianid,jdbcType=INTEGER},
      </if>
      <if test="record.jueseid != null" >
        JueSeID = #{record.jueseid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbip_pub_role_rights
    set QuanXianID = #{record.quanxianid,jdbcType=INTEGER},
      JueSeID = #{record.jueseid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>