<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbippub.mapper.HbipPubDiscussionForumMapper" >
  <resultMap id="BaseResultMap" type="com.hbippub.pojo.HbipPubDiscussionForum" >
    <id column="TaoLunQuID" property="taolunquid" jdbcType="INTEGER" />
    <result column="TaoLunDuiXiangID" property="taolunduixiangid" jdbcType="INTEGER" />
    <result column="DuiXiangLeiBie" property="duixiangleibie" jdbcType="INTEGER" />
    <result column="ShiFouYiShanChu" property="shifouyishanchu" jdbcType="INTEGER" />
    <result column="BeiZhu" property="beizhu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TaoLunQuID, TaoLunDuiXiangID, DuiXiangLeiBie, ShiFouYiShanChu, BeiZhu
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubDiscussionForumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbip_pub_discussion_forum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hbip_pub_discussion_forum
    where TaoLunQuID = #{taolunquid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hbip_pub_discussion_forum
    where TaoLunQuID = #{taolunquid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbippub.pojo.HbipPubDiscussionForumExample" >
    delete from hbip_pub_discussion_forum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbippub.pojo.HbipPubDiscussionForum" >
    insert into hbip_pub_discussion_forum (TaoLunQuID, TaoLunDuiXiangID, DuiXiangLeiBie, 
      ShiFouYiShanChu, BeiZhu)
    values (#{taolunquid,jdbcType=INTEGER}, #{taolunduixiangid,jdbcType=INTEGER}, #{duixiangleibie,jdbcType=INTEGER}, 
      #{shifouyishanchu,jdbcType=INTEGER}, #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hbippub.pojo.HbipPubDiscussionForum" >
    insert into hbip_pub_discussion_forum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taolunquid != null" >
        TaoLunQuID,
      </if>
      <if test="taolunduixiangid != null" >
        TaoLunDuiXiangID,
      </if>
      <if test="duixiangleibie != null" >
        DuiXiangLeiBie,
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu,
      </if>
      <if test="beizhu != null" >
        BeiZhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taolunquid != null" >
        #{taolunquid,jdbcType=INTEGER},
      </if>
      <if test="taolunduixiangid != null" >
        #{taolunduixiangid,jdbcType=INTEGER},
      </if>
      <if test="duixiangleibie != null" >
        #{duixiangleibie,jdbcType=INTEGER},
      </if>
      <if test="shifouyishanchu != null" >
        #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbippub.pojo.HbipPubDiscussionForumExample" resultType="java.lang.Integer" >
    select count(*) from hbip_pub_discussion_forum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbip_pub_discussion_forum
    <set >
      <if test="record.taolunquid != null" >
        TaoLunQuID = #{record.taolunquid,jdbcType=INTEGER},
      </if>
      <if test="record.taolunduixiangid != null" >
        TaoLunDuiXiangID = #{record.taolunduixiangid,jdbcType=INTEGER},
      </if>
      <if test="record.duixiangleibie != null" >
        DuiXiangLeiBie = #{record.duixiangleibie,jdbcType=INTEGER},
      </if>
      <if test="record.shifouyishanchu != null" >
        ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="record.beizhu != null" >
        BeiZhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbip_pub_discussion_forum
    set TaoLunQuID = #{record.taolunquid,jdbcType=INTEGER},
      TaoLunDuiXiangID = #{record.taolunduixiangid,jdbcType=INTEGER},
      DuiXiangLeiBie = #{record.duixiangleibie,jdbcType=INTEGER},
      ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      BeiZhu = #{record.beizhu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbippub.pojo.HbipPubDiscussionForum" >
    update hbip_pub_discussion_forum
    <set >
      <if test="taolunduixiangid != null" >
        TaoLunDuiXiangID = #{taolunduixiangid,jdbcType=INTEGER},
      </if>
      <if test="duixiangleibie != null" >
        DuiXiangLeiBie = #{duixiangleibie,jdbcType=INTEGER},
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        BeiZhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where TaoLunQuID = #{taolunquid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubDiscussionForum" >
    update hbip_pub_discussion_forum
    set TaoLunDuiXiangID = #{taolunduixiangid,jdbcType=INTEGER},
      DuiXiangLeiBie = #{duixiangleibie,jdbcType=INTEGER},
      ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      BeiZhu = #{beizhu,jdbcType=VARCHAR}
    where TaoLunQuID = #{taolunquid,jdbcType=INTEGER}
  </update>
</mapper>