<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbippub.mapper.HbipPubFollowingMapper" >
  <resultMap id="BaseResultMap" type="com.hbippub.pojo.HbipPubFollowing" >
    <id column="GuanZhuID" property="guanzhuid" jdbcType="INTEGER" />
    <result column="YongHuID" property="yonghuid" jdbcType="INTEGER" />
    <result column="YongHuXingMing" property="yonghuxingming" jdbcType="CHAR" />
    <result column="BeiGuanZhuYongHuID" property="beiguanzhuyonghuid" jdbcType="INTEGER" />
    <result column="BeiGuanZhuYongHuXingMing" property="beiguanzhuyonghuxingming" jdbcType="CHAR" />
    <result column="GuanZhuShiJian" property="guanzhushijian" jdbcType="TIMESTAMP" />
    <result column="ShiFouYiShanChu" property="shifouyishanchu" jdbcType="INTEGER" />
    <result column="BeiZhu" property="beizhu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GuanZhuID, YongHuID, YongHuXingMing, BeiGuanZhuYongHuID, BeiGuanZhuYongHuXingMing, 
    GuanZhuShiJian, ShiFouYiShanChu, BeiZhu
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubFollowingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbip_pub_following
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hbip_pub_following
    where GuanZhuID = #{guanzhuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hbip_pub_following
    where GuanZhuID = #{guanzhuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbippub.pojo.HbipPubFollowingExample" >
    delete from hbip_pub_following
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbippub.pojo.HbipPubFollowing" >
    insert into hbip_pub_following (GuanZhuID, YongHuID, YongHuXingMing, 
      BeiGuanZhuYongHuID, BeiGuanZhuYongHuXingMing, 
      GuanZhuShiJian, ShiFouYiShanChu, BeiZhu
      )
    values (#{guanzhuid,jdbcType=INTEGER}, #{yonghuid,jdbcType=INTEGER}, #{yonghuxingming,jdbcType=CHAR}, 
      #{beiguanzhuyonghuid,jdbcType=INTEGER}, #{beiguanzhuyonghuxingming,jdbcType=CHAR}, 
      #{guanzhushijian,jdbcType=TIMESTAMP}, #{shifouyishanchu,jdbcType=INTEGER}, #{beizhu,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbippub.pojo.HbipPubFollowing" >
    insert into hbip_pub_following
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guanzhuid != null" >
        GuanZhuID,
      </if>
      <if test="yonghuid != null" >
        YongHuID,
      </if>
      <if test="yonghuxingming != null" >
        YongHuXingMing,
      </if>
      <if test="beiguanzhuyonghuid != null" >
        BeiGuanZhuYongHuID,
      </if>
      <if test="beiguanzhuyonghuxingming != null" >
        BeiGuanZhuYongHuXingMing,
      </if>
      <if test="guanzhushijian != null" >
        GuanZhuShiJian,
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu,
      </if>
      <if test="beizhu != null" >
        BeiZhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guanzhuid != null" >
        #{guanzhuid,jdbcType=INTEGER},
      </if>
      <if test="yonghuid != null" >
        #{yonghuid,jdbcType=INTEGER},
      </if>
      <if test="yonghuxingming != null" >
        #{yonghuxingming,jdbcType=CHAR},
      </if>
      <if test="beiguanzhuyonghuid != null" >
        #{beiguanzhuyonghuid,jdbcType=INTEGER},
      </if>
      <if test="beiguanzhuyonghuxingming != null" >
        #{beiguanzhuyonghuxingming,jdbcType=CHAR},
      </if>
      <if test="guanzhushijian != null" >
        #{guanzhushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="shifouyishanchu != null" >
        #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbippub.pojo.HbipPubFollowingExample" resultType="java.lang.Integer" >
    select count(*) from hbip_pub_following
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbip_pub_following
    <set >
      <if test="record.guanzhuid != null" >
        GuanZhuID = #{record.guanzhuid,jdbcType=INTEGER},
      </if>
      <if test="record.yonghuid != null" >
        YongHuID = #{record.yonghuid,jdbcType=INTEGER},
      </if>
      <if test="record.yonghuxingming != null" >
        YongHuXingMing = #{record.yonghuxingming,jdbcType=CHAR},
      </if>
      <if test="record.beiguanzhuyonghuid != null" >
        BeiGuanZhuYongHuID = #{record.beiguanzhuyonghuid,jdbcType=INTEGER},
      </if>
      <if test="record.beiguanzhuyonghuxingming != null" >
        BeiGuanZhuYongHuXingMing = #{record.beiguanzhuyonghuxingming,jdbcType=CHAR},
      </if>
      <if test="record.guanzhushijian != null" >
        GuanZhuShiJian = #{record.guanzhushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shifouyishanchu != null" >
        ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="record.beizhu != null" >
        BeiZhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbip_pub_following
    set GuanZhuID = #{record.guanzhuid,jdbcType=INTEGER},
      YongHuID = #{record.yonghuid,jdbcType=INTEGER},
      YongHuXingMing = #{record.yonghuxingming,jdbcType=CHAR},
      BeiGuanZhuYongHuID = #{record.beiguanzhuyonghuid,jdbcType=INTEGER},
      BeiGuanZhuYongHuXingMing = #{record.beiguanzhuyonghuxingming,jdbcType=CHAR},
      GuanZhuShiJian = #{record.guanzhushijian,jdbcType=TIMESTAMP},
      ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      BeiZhu = #{record.beizhu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbippub.pojo.HbipPubFollowing" >
    update hbip_pub_following
    <set >
      <if test="yonghuid != null" >
        YongHuID = #{yonghuid,jdbcType=INTEGER},
      </if>
      <if test="yonghuxingming != null" >
        YongHuXingMing = #{yonghuxingming,jdbcType=CHAR},
      </if>
      <if test="beiguanzhuyonghuid != null" >
        BeiGuanZhuYongHuID = #{beiguanzhuyonghuid,jdbcType=INTEGER},
      </if>
      <if test="beiguanzhuyonghuxingming != null" >
        BeiGuanZhuYongHuXingMing = #{beiguanzhuyonghuxingming,jdbcType=CHAR},
      </if>
      <if test="guanzhushijian != null" >
        GuanZhuShiJian = #{guanzhushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        BeiZhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where GuanZhuID = #{guanzhuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubFollowing" >
    update hbip_pub_following
    set YongHuID = #{yonghuid,jdbcType=INTEGER},
      YongHuXingMing = #{yonghuxingming,jdbcType=CHAR},
      BeiGuanZhuYongHuID = #{beiguanzhuyonghuid,jdbcType=INTEGER},
      BeiGuanZhuYongHuXingMing = #{beiguanzhuyonghuxingming,jdbcType=CHAR},
      GuanZhuShiJian = #{guanzhushijian,jdbcType=TIMESTAMP},
      ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      BeiZhu = #{beizhu,jdbcType=VARCHAR}
    where GuanZhuID = #{guanzhuid,jdbcType=INTEGER}
  </update>
</mapper>