<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbippub.mapper.HbipPubProductMapper" >
  <resultMap id="BaseResultMap" type="com.hbippub.pojo.HbipPubProduct" >
    <id column="ShangPinID" property="shangpinid" jdbcType="INTEGER" />
    <result column="DianPuID" property="dianpuid" jdbcType="INTEGER" />
    <result column="DianPuName" property="dianpuname" jdbcType="CHAR" />
    <result column="WeiTuoZhuangTai" property="weituozhuangtai" jdbcType="INTEGER" />
    <result column="JieShouWeiTuoShiJian" property="jieshouweituoshijian" jdbcType="TIMESTAMP" />
    <result column="YongHuID" property="yonghuid" jdbcType="INTEGER" />
    <result column="HangYeLeiXingID" property="hangyeleixingid" jdbcType="INTEGER" />
    <result column="HangYeLeiXingMingCheng" property="hangyeleixingmingcheng" jdbcType="CHAR" />
    <result column="PaiMaiMoShiID" property="paimaimoshiid" jdbcType="INTEGER" />
    <result column="PaiMaiZhuangTaiID" property="paimaizhuangtaiid" jdbcType="INTEGER" />
    <result column="ShiFouPaiMai" property="shifoupaimai" jdbcType="INTEGER" />
    <result column="ShangPinMingCheng" property="shangpinmingcheng" jdbcType="CHAR" />
    <result column="YongHuMingCheng" property="yonghumingcheng" jdbcType="CHAR" />
    <result column="ShouCangShu" property="shoucangshu" jdbcType="INTEGER" />
    <result column="CanKaoJia" property="cankaojia" jdbcType="DECIMAL" />
    <result column="BaojiaShu" property="baojiashu" jdbcType="INTEGER" />
    <result column="XiaDanShu" property="xiadanshu" jdbcType="INTEGER" />
    <result column="PaiMaiChuJiaShu" property="paimaichujiashu" jdbcType="INTEGER" />
    <result column="QiPaiJiaGe" property="qipaijiage" jdbcType="DECIMAL" />
    <result column="DangQianJiaGe" property="dangqianjiage" jdbcType="DECIMAL" />
    <result column="QiPaiShiJian" property="qipaishijian" jdbcType="TIMESTAMP" />
    <result column="JieShuShiJian" property="jieshushijian" jdbcType="TIMESTAMP" />
    <result column="ShiFouYiShanChu" property="shifouyishanchu" jdbcType="INTEGER" />
    <result column="ShiFouXiaJia" property="shifouxiajia" jdbcType="INTEGER" />
    <result column="BeiZhu" property="beizhu" jdbcType="VARCHAR" />
    <result column="ChanPinFenLeiID" property="chanpinfenleiid" jdbcType="INTEGER" />
    <result column="ChanPinFenLeiMingCheng" property="chanpinfenleimingcheng" jdbcType="CHAR" />
    <result column="BaoJiaJieShuShiJian" property="baojiajieshushijian" jdbcType="DATE" />
    <result column="ChanPinPinPai" property="chanpinpinpai" jdbcType="CHAR" />
    <result column="ChanPinXingHao" property="chanpinxinghao" jdbcType="CHAR" />
    <result column="FaBuShiJian" property="fabushijian" jdbcType="TIMESTAMP" />
    <result column="FengMianURL" property="fengmianurl" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hbippub.pojo.HbipPubProduct" extends="BaseResultMap" >
    <result column="XiangXiShuoMing" property="xiangxishuoming" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ShangPinID, DianPuID, DianPuName, WeiTuoZhuangTai, JieShouWeiTuoShiJian, YongHuID, 
    HangYeLeiXingID, HangYeLeiXingMingCheng, PaiMaiMoShiID, PaiMaiZhuangTaiID, ShiFouPaiMai, 
    ShangPinMingCheng, YongHuMingCheng, ShouCangShu, CanKaoJia, BaojiaShu, XiaDanShu, 
    PaiMaiChuJiaShu, QiPaiJiaGe, DangQianJiaGe, QiPaiShiJian, JieShuShiJian, ShiFouYiShanChu, 
    ShiFouXiaJia, BeiZhu, ChanPinFenLeiID, ChanPinFenLeiMingCheng, BaoJiaJieShuShiJian, 
    ChanPinPinPai, ChanPinXingHao, FaBuShiJian, FengMianURL
  </sql>
  <sql id="Blob_Column_List" >
    XiangXiShuoMing
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hbippub.pojo.HbipPubProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hbip_pub_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbippub.pojo.HbipPubProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbip_pub_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hbip_pub_product
    where ShangPinID = #{shangpinid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hbip_pub_product
    where ShangPinID = #{shangpinid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbippub.pojo.HbipPubProductExample" >
    delete from hbip_pub_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbippub.pojo.HbipPubProduct" >
    insert into hbip_pub_product (ShangPinID, DianPuID, DianPuName, 
      WeiTuoZhuangTai, JieShouWeiTuoShiJian, 
      YongHuID, HangYeLeiXingID, HangYeLeiXingMingCheng, 
      PaiMaiMoShiID, PaiMaiZhuangTaiID, ShiFouPaiMai, 
      ShangPinMingCheng, YongHuMingCheng, ShouCangShu, 
      CanKaoJia, BaojiaShu, XiaDanShu, 
      PaiMaiChuJiaShu, QiPaiJiaGe, DangQianJiaGe, 
      QiPaiShiJian, JieShuShiJian, ShiFouYiShanChu, 
      ShiFouXiaJia, BeiZhu, ChanPinFenLeiID, 
      ChanPinFenLeiMingCheng, BaoJiaJieShuShiJian, 
      ChanPinPinPai, ChanPinXingHao, FaBuShiJian, 
      FengMianURL, XiangXiShuoMing)
    values (#{shangpinid,jdbcType=INTEGER}, #{dianpuid,jdbcType=INTEGER}, #{dianpuname,jdbcType=CHAR}, 
      #{weituozhuangtai,jdbcType=INTEGER}, #{jieshouweituoshijian,jdbcType=TIMESTAMP}, 
      #{yonghuid,jdbcType=INTEGER}, #{hangyeleixingid,jdbcType=INTEGER}, #{hangyeleixingmingcheng,jdbcType=CHAR}, 
      #{paimaimoshiid,jdbcType=INTEGER}, #{paimaizhuangtaiid,jdbcType=INTEGER}, #{shifoupaimai,jdbcType=INTEGER}, 
      #{shangpinmingcheng,jdbcType=CHAR}, #{yonghumingcheng,jdbcType=CHAR}, #{shoucangshu,jdbcType=INTEGER}, 
      #{cankaojia,jdbcType=DECIMAL}, #{baojiashu,jdbcType=INTEGER}, #{xiadanshu,jdbcType=INTEGER}, 
      #{paimaichujiashu,jdbcType=INTEGER}, #{qipaijiage,jdbcType=DECIMAL}, #{dangqianjiage,jdbcType=DECIMAL}, 
      #{qipaishijian,jdbcType=TIMESTAMP}, #{jieshushijian,jdbcType=TIMESTAMP}, #{shifouyishanchu,jdbcType=INTEGER}, 
      #{shifouxiajia,jdbcType=INTEGER}, #{beizhu,jdbcType=VARCHAR}, #{chanpinfenleiid,jdbcType=INTEGER}, 
      #{chanpinfenleimingcheng,jdbcType=CHAR}, #{baojiajieshushijian,jdbcType=DATE}, 
      #{chanpinpinpai,jdbcType=CHAR}, #{chanpinxinghao,jdbcType=CHAR}, #{fabushijian,jdbcType=TIMESTAMP}, 
      #{fengmianurl,jdbcType=CHAR}, #{xiangxishuoming,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hbippub.pojo.HbipPubProduct" >
    insert into hbip_pub_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shangpinid != null" >
        ShangPinID,
      </if>
      <if test="dianpuid != null" >
        DianPuID,
      </if>
      <if test="dianpuname != null" >
        DianPuName,
      </if>
      <if test="weituozhuangtai != null" >
        WeiTuoZhuangTai,
      </if>
      <if test="jieshouweituoshijian != null" >
        JieShouWeiTuoShiJian,
      </if>
      <if test="yonghuid != null" >
        YongHuID,
      </if>
      <if test="hangyeleixingid != null" >
        HangYeLeiXingID,
      </if>
      <if test="hangyeleixingmingcheng != null" >
        HangYeLeiXingMingCheng,
      </if>
      <if test="paimaimoshiid != null" >
        PaiMaiMoShiID,
      </if>
      <if test="paimaizhuangtaiid != null" >
        PaiMaiZhuangTaiID,
      </if>
      <if test="shifoupaimai != null" >
        ShiFouPaiMai,
      </if>
      <if test="shangpinmingcheng != null" >
        ShangPinMingCheng,
      </if>
      <if test="yonghumingcheng != null" >
        YongHuMingCheng,
      </if>
      <if test="shoucangshu != null" >
        ShouCangShu,
      </if>
      <if test="cankaojia != null" >
        CanKaoJia,
      </if>
      <if test="baojiashu != null" >
        BaojiaShu,
      </if>
      <if test="xiadanshu != null" >
        XiaDanShu,
      </if>
      <if test="paimaichujiashu != null" >
        PaiMaiChuJiaShu,
      </if>
      <if test="qipaijiage != null" >
        QiPaiJiaGe,
      </if>
      <if test="dangqianjiage != null" >
        DangQianJiaGe,
      </if>
      <if test="qipaishijian != null" >
        QiPaiShiJian,
      </if>
      <if test="jieshushijian != null" >
        JieShuShiJian,
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu,
      </if>
      <if test="shifouxiajia != null" >
        ShiFouXiaJia,
      </if>
      <if test="beizhu != null" >
        BeiZhu,
      </if>
      <if test="chanpinfenleiid != null" >
        ChanPinFenLeiID,
      </if>
      <if test="chanpinfenleimingcheng != null" >
        ChanPinFenLeiMingCheng,
      </if>
      <if test="baojiajieshushijian != null" >
        BaoJiaJieShuShiJian,
      </if>
      <if test="chanpinpinpai != null" >
        ChanPinPinPai,
      </if>
      <if test="chanpinxinghao != null" >
        ChanPinXingHao,
      </if>
      <if test="fabushijian != null" >
        FaBuShiJian,
      </if>
      <if test="fengmianurl != null" >
        FengMianURL,
      </if>
      <if test="xiangxishuoming != null" >
        XiangXiShuoMing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shangpinid != null" >
        #{shangpinid,jdbcType=INTEGER},
      </if>
      <if test="dianpuid != null" >
        #{dianpuid,jdbcType=INTEGER},
      </if>
      <if test="dianpuname != null" >
        #{dianpuname,jdbcType=CHAR},
      </if>
      <if test="weituozhuangtai != null" >
        #{weituozhuangtai,jdbcType=INTEGER},
      </if>
      <if test="jieshouweituoshijian != null" >
        #{jieshouweituoshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="yonghuid != null" >
        #{yonghuid,jdbcType=INTEGER},
      </if>
      <if test="hangyeleixingid != null" >
        #{hangyeleixingid,jdbcType=INTEGER},
      </if>
      <if test="hangyeleixingmingcheng != null" >
        #{hangyeleixingmingcheng,jdbcType=CHAR},
      </if>
      <if test="paimaimoshiid != null" >
        #{paimaimoshiid,jdbcType=INTEGER},
      </if>
      <if test="paimaizhuangtaiid != null" >
        #{paimaizhuangtaiid,jdbcType=INTEGER},
      </if>
      <if test="shifoupaimai != null" >
        #{shifoupaimai,jdbcType=INTEGER},
      </if>
      <if test="shangpinmingcheng != null" >
        #{shangpinmingcheng,jdbcType=CHAR},
      </if>
      <if test="yonghumingcheng != null" >
        #{yonghumingcheng,jdbcType=CHAR},
      </if>
      <if test="shoucangshu != null" >
        #{shoucangshu,jdbcType=INTEGER},
      </if>
      <if test="cankaojia != null" >
        #{cankaojia,jdbcType=DECIMAL},
      </if>
      <if test="baojiashu != null" >
        #{baojiashu,jdbcType=INTEGER},
      </if>
      <if test="xiadanshu != null" >
        #{xiadanshu,jdbcType=INTEGER},
      </if>
      <if test="paimaichujiashu != null" >
        #{paimaichujiashu,jdbcType=INTEGER},
      </if>
      <if test="qipaijiage != null" >
        #{qipaijiage,jdbcType=DECIMAL},
      </if>
      <if test="dangqianjiage != null" >
        #{dangqianjiage,jdbcType=DECIMAL},
      </if>
      <if test="qipaishijian != null" >
        #{qipaishijian,jdbcType=TIMESTAMP},
      </if>
      <if test="jieshushijian != null" >
        #{jieshushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="shifouyishanchu != null" >
        #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="shifouxiajia != null" >
        #{shifouxiajia,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="chanpinfenleiid != null" >
        #{chanpinfenleiid,jdbcType=INTEGER},
      </if>
      <if test="chanpinfenleimingcheng != null" >
        #{chanpinfenleimingcheng,jdbcType=CHAR},
      </if>
      <if test="baojiajieshushijian != null" >
        #{baojiajieshushijian,jdbcType=DATE},
      </if>
      <if test="chanpinpinpai != null" >
        #{chanpinpinpai,jdbcType=CHAR},
      </if>
      <if test="chanpinxinghao != null" >
        #{chanpinxinghao,jdbcType=CHAR},
      </if>
      <if test="fabushijian != null" >
        #{fabushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="fengmianurl != null" >
        #{fengmianurl,jdbcType=CHAR},
      </if>
      <if test="xiangxishuoming != null" >
        #{xiangxishuoming,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbippub.pojo.HbipPubProductExample" resultType="java.lang.Integer" >
    select count(*) from hbip_pub_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbip_pub_product
    <set >
      <if test="record.shangpinid != null" >
        ShangPinID = #{record.shangpinid,jdbcType=INTEGER},
      </if>
      <if test="record.dianpuid != null" >
        DianPuID = #{record.dianpuid,jdbcType=INTEGER},
      </if>
      <if test="record.dianpuname != null" >
        DianPuName = #{record.dianpuname,jdbcType=CHAR},
      </if>
      <if test="record.weituozhuangtai != null" >
        WeiTuoZhuangTai = #{record.weituozhuangtai,jdbcType=INTEGER},
      </if>
      <if test="record.jieshouweituoshijian != null" >
        JieShouWeiTuoShiJian = #{record.jieshouweituoshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yonghuid != null" >
        YongHuID = #{record.yonghuid,jdbcType=INTEGER},
      </if>
      <if test="record.hangyeleixingid != null" >
        HangYeLeiXingID = #{record.hangyeleixingid,jdbcType=INTEGER},
      </if>
      <if test="record.hangyeleixingmingcheng != null" >
        HangYeLeiXingMingCheng = #{record.hangyeleixingmingcheng,jdbcType=CHAR},
      </if>
      <if test="record.paimaimoshiid != null" >
        PaiMaiMoShiID = #{record.paimaimoshiid,jdbcType=INTEGER},
      </if>
      <if test="record.paimaizhuangtaiid != null" >
        PaiMaiZhuangTaiID = #{record.paimaizhuangtaiid,jdbcType=INTEGER},
      </if>
      <if test="record.shifoupaimai != null" >
        ShiFouPaiMai = #{record.shifoupaimai,jdbcType=INTEGER},
      </if>
      <if test="record.shangpinmingcheng != null" >
        ShangPinMingCheng = #{record.shangpinmingcheng,jdbcType=CHAR},
      </if>
      <if test="record.yonghumingcheng != null" >
        YongHuMingCheng = #{record.yonghumingcheng,jdbcType=CHAR},
      </if>
      <if test="record.shoucangshu != null" >
        ShouCangShu = #{record.shoucangshu,jdbcType=INTEGER},
      </if>
      <if test="record.cankaojia != null" >
        CanKaoJia = #{record.cankaojia,jdbcType=DECIMAL},
      </if>
      <if test="record.baojiashu != null" >
        BaojiaShu = #{record.baojiashu,jdbcType=INTEGER},
      </if>
      <if test="record.xiadanshu != null" >
        XiaDanShu = #{record.xiadanshu,jdbcType=INTEGER},
      </if>
      <if test="record.paimaichujiashu != null" >
        PaiMaiChuJiaShu = #{record.paimaichujiashu,jdbcType=INTEGER},
      </if>
      <if test="record.qipaijiage != null" >
        QiPaiJiaGe = #{record.qipaijiage,jdbcType=DECIMAL},
      </if>
      <if test="record.dangqianjiage != null" >
        DangQianJiaGe = #{record.dangqianjiage,jdbcType=DECIMAL},
      </if>
      <if test="record.qipaishijian != null" >
        QiPaiShiJian = #{record.qipaishijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jieshushijian != null" >
        JieShuShiJian = #{record.jieshushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shifouyishanchu != null" >
        ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="record.shifouxiajia != null" >
        ShiFouXiaJia = #{record.shifouxiajia,jdbcType=INTEGER},
      </if>
      <if test="record.beizhu != null" >
        BeiZhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
      <if test="record.chanpinfenleiid != null" >
        ChanPinFenLeiID = #{record.chanpinfenleiid,jdbcType=INTEGER},
      </if>
      <if test="record.chanpinfenleimingcheng != null" >
        ChanPinFenLeiMingCheng = #{record.chanpinfenleimingcheng,jdbcType=CHAR},
      </if>
      <if test="record.baojiajieshushijian != null" >
        BaoJiaJieShuShiJian = #{record.baojiajieshushijian,jdbcType=DATE},
      </if>
      <if test="record.chanpinpinpai != null" >
        ChanPinPinPai = #{record.chanpinpinpai,jdbcType=CHAR},
      </if>
      <if test="record.chanpinxinghao != null" >
        ChanPinXingHao = #{record.chanpinxinghao,jdbcType=CHAR},
      </if>
      <if test="record.fabushijian != null" >
        FaBuShiJian = #{record.fabushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fengmianurl != null" >
        FengMianURL = #{record.fengmianurl,jdbcType=CHAR},
      </if>
      <if test="record.xiangxishuoming != null" >
        XiangXiShuoMing = #{record.xiangxishuoming,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update hbip_pub_product
    set ShangPinID = #{record.shangpinid,jdbcType=INTEGER},
      DianPuID = #{record.dianpuid,jdbcType=INTEGER},
      DianPuName = #{record.dianpuname,jdbcType=CHAR},
      WeiTuoZhuangTai = #{record.weituozhuangtai,jdbcType=INTEGER},
      JieShouWeiTuoShiJian = #{record.jieshouweituoshijian,jdbcType=TIMESTAMP},
      YongHuID = #{record.yonghuid,jdbcType=INTEGER},
      HangYeLeiXingID = #{record.hangyeleixingid,jdbcType=INTEGER},
      HangYeLeiXingMingCheng = #{record.hangyeleixingmingcheng,jdbcType=CHAR},
      PaiMaiMoShiID = #{record.paimaimoshiid,jdbcType=INTEGER},
      PaiMaiZhuangTaiID = #{record.paimaizhuangtaiid,jdbcType=INTEGER},
      ShiFouPaiMai = #{record.shifoupaimai,jdbcType=INTEGER},
      ShangPinMingCheng = #{record.shangpinmingcheng,jdbcType=CHAR},
      YongHuMingCheng = #{record.yonghumingcheng,jdbcType=CHAR},
      ShouCangShu = #{record.shoucangshu,jdbcType=INTEGER},
      CanKaoJia = #{record.cankaojia,jdbcType=DECIMAL},
      BaojiaShu = #{record.baojiashu,jdbcType=INTEGER},
      XiaDanShu = #{record.xiadanshu,jdbcType=INTEGER},
      PaiMaiChuJiaShu = #{record.paimaichujiashu,jdbcType=INTEGER},
      QiPaiJiaGe = #{record.qipaijiage,jdbcType=DECIMAL},
      DangQianJiaGe = #{record.dangqianjiage,jdbcType=DECIMAL},
      QiPaiShiJian = #{record.qipaishijian,jdbcType=TIMESTAMP},
      JieShuShiJian = #{record.jieshushijian,jdbcType=TIMESTAMP},
      ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      ShiFouXiaJia = #{record.shifouxiajia,jdbcType=INTEGER},
      BeiZhu = #{record.beizhu,jdbcType=VARCHAR},
      ChanPinFenLeiID = #{record.chanpinfenleiid,jdbcType=INTEGER},
      ChanPinFenLeiMingCheng = #{record.chanpinfenleimingcheng,jdbcType=CHAR},
      BaoJiaJieShuShiJian = #{record.baojiajieshushijian,jdbcType=DATE},
      ChanPinPinPai = #{record.chanpinpinpai,jdbcType=CHAR},
      ChanPinXingHao = #{record.chanpinxinghao,jdbcType=CHAR},
      FaBuShiJian = #{record.fabushijian,jdbcType=TIMESTAMP},
      FengMianURL = #{record.fengmianurl,jdbcType=CHAR},
      XiangXiShuoMing = #{record.xiangxishuoming,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbip_pub_product
    set ShangPinID = #{record.shangpinid,jdbcType=INTEGER},
      DianPuID = #{record.dianpuid,jdbcType=INTEGER},
      DianPuName = #{record.dianpuname,jdbcType=CHAR},
      WeiTuoZhuangTai = #{record.weituozhuangtai,jdbcType=INTEGER},
      JieShouWeiTuoShiJian = #{record.jieshouweituoshijian,jdbcType=TIMESTAMP},
      YongHuID = #{record.yonghuid,jdbcType=INTEGER},
      HangYeLeiXingID = #{record.hangyeleixingid,jdbcType=INTEGER},
      HangYeLeiXingMingCheng = #{record.hangyeleixingmingcheng,jdbcType=CHAR},
      PaiMaiMoShiID = #{record.paimaimoshiid,jdbcType=INTEGER},
      PaiMaiZhuangTaiID = #{record.paimaizhuangtaiid,jdbcType=INTEGER},
      ShiFouPaiMai = #{record.shifoupaimai,jdbcType=INTEGER},
      ShangPinMingCheng = #{record.shangpinmingcheng,jdbcType=CHAR},
      YongHuMingCheng = #{record.yonghumingcheng,jdbcType=CHAR},
      ShouCangShu = #{record.shoucangshu,jdbcType=INTEGER},
      CanKaoJia = #{record.cankaojia,jdbcType=DECIMAL},
      BaojiaShu = #{record.baojiashu,jdbcType=INTEGER},
      XiaDanShu = #{record.xiadanshu,jdbcType=INTEGER},
      PaiMaiChuJiaShu = #{record.paimaichujiashu,jdbcType=INTEGER},
      QiPaiJiaGe = #{record.qipaijiage,jdbcType=DECIMAL},
      DangQianJiaGe = #{record.dangqianjiage,jdbcType=DECIMAL},
      QiPaiShiJian = #{record.qipaishijian,jdbcType=TIMESTAMP},
      JieShuShiJian = #{record.jieshushijian,jdbcType=TIMESTAMP},
      ShiFouYiShanChu = #{record.shifouyishanchu,jdbcType=INTEGER},
      ShiFouXiaJia = #{record.shifouxiajia,jdbcType=INTEGER},
      BeiZhu = #{record.beizhu,jdbcType=VARCHAR},
      ChanPinFenLeiID = #{record.chanpinfenleiid,jdbcType=INTEGER},
      ChanPinFenLeiMingCheng = #{record.chanpinfenleimingcheng,jdbcType=CHAR},
      BaoJiaJieShuShiJian = #{record.baojiajieshushijian,jdbcType=DATE},
      ChanPinPinPai = #{record.chanpinpinpai,jdbcType=CHAR},
      ChanPinXingHao = #{record.chanpinxinghao,jdbcType=CHAR},
      FaBuShiJian = #{record.fabushijian,jdbcType=TIMESTAMP},
      FengMianURL = #{record.fengmianurl,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbippub.pojo.HbipPubProduct" >
    update hbip_pub_product
    <set >
      <if test="dianpuid != null" >
        DianPuID = #{dianpuid,jdbcType=INTEGER},
      </if>
      <if test="dianpuname != null" >
        DianPuName = #{dianpuname,jdbcType=CHAR},
      </if>
      <if test="weituozhuangtai != null" >
        WeiTuoZhuangTai = #{weituozhuangtai,jdbcType=INTEGER},
      </if>
      <if test="jieshouweituoshijian != null" >
        JieShouWeiTuoShiJian = #{jieshouweituoshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="yonghuid != null" >
        YongHuID = #{yonghuid,jdbcType=INTEGER},
      </if>
      <if test="hangyeleixingid != null" >
        HangYeLeiXingID = #{hangyeleixingid,jdbcType=INTEGER},
      </if>
      <if test="hangyeleixingmingcheng != null" >
        HangYeLeiXingMingCheng = #{hangyeleixingmingcheng,jdbcType=CHAR},
      </if>
      <if test="paimaimoshiid != null" >
        PaiMaiMoShiID = #{paimaimoshiid,jdbcType=INTEGER},
      </if>
      <if test="paimaizhuangtaiid != null" >
        PaiMaiZhuangTaiID = #{paimaizhuangtaiid,jdbcType=INTEGER},
      </if>
      <if test="shifoupaimai != null" >
        ShiFouPaiMai = #{shifoupaimai,jdbcType=INTEGER},
      </if>
      <if test="shangpinmingcheng != null" >
        ShangPinMingCheng = #{shangpinmingcheng,jdbcType=CHAR},
      </if>
      <if test="yonghumingcheng != null" >
        YongHuMingCheng = #{yonghumingcheng,jdbcType=CHAR},
      </if>
      <if test="shoucangshu != null" >
        ShouCangShu = #{shoucangshu,jdbcType=INTEGER},
      </if>
      <if test="cankaojia != null" >
        CanKaoJia = #{cankaojia,jdbcType=DECIMAL},
      </if>
      <if test="baojiashu != null" >
        BaojiaShu = #{baojiashu,jdbcType=INTEGER},
      </if>
      <if test="xiadanshu != null" >
        XiaDanShu = #{xiadanshu,jdbcType=INTEGER},
      </if>
      <if test="paimaichujiashu != null" >
        PaiMaiChuJiaShu = #{paimaichujiashu,jdbcType=INTEGER},
      </if>
      <if test="qipaijiage != null" >
        QiPaiJiaGe = #{qipaijiage,jdbcType=DECIMAL},
      </if>
      <if test="dangqianjiage != null" >
        DangQianJiaGe = #{dangqianjiage,jdbcType=DECIMAL},
      </if>
      <if test="qipaishijian != null" >
        QiPaiShiJian = #{qipaishijian,jdbcType=TIMESTAMP},
      </if>
      <if test="jieshushijian != null" >
        JieShuShiJian = #{jieshushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="shifouyishanchu != null" >
        ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      </if>
      <if test="shifouxiajia != null" >
        ShiFouXiaJia = #{shifouxiajia,jdbcType=INTEGER},
      </if>
      <if test="beizhu != null" >
        BeiZhu = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="chanpinfenleiid != null" >
        ChanPinFenLeiID = #{chanpinfenleiid,jdbcType=INTEGER},
      </if>
      <if test="chanpinfenleimingcheng != null" >
        ChanPinFenLeiMingCheng = #{chanpinfenleimingcheng,jdbcType=CHAR},
      </if>
      <if test="baojiajieshushijian != null" >
        BaoJiaJieShuShiJian = #{baojiajieshushijian,jdbcType=DATE},
      </if>
      <if test="chanpinpinpai != null" >
        ChanPinPinPai = #{chanpinpinpai,jdbcType=CHAR},
      </if>
      <if test="chanpinxinghao != null" >
        ChanPinXingHao = #{chanpinxinghao,jdbcType=CHAR},
      </if>
      <if test="fabushijian != null" >
        FaBuShiJian = #{fabushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="fengmianurl != null" >
        FengMianURL = #{fengmianurl,jdbcType=CHAR},
      </if>
      <if test="xiangxishuoming != null" >
        XiangXiShuoMing = #{xiangxishuoming,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ShangPinID = #{shangpinid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hbippub.pojo.HbipPubProduct" >
    update hbip_pub_product
    set DianPuID = #{dianpuid,jdbcType=INTEGER},
      DianPuName = #{dianpuname,jdbcType=CHAR},
      WeiTuoZhuangTai = #{weituozhuangtai,jdbcType=INTEGER},
      JieShouWeiTuoShiJian = #{jieshouweituoshijian,jdbcType=TIMESTAMP},
      YongHuID = #{yonghuid,jdbcType=INTEGER},
      HangYeLeiXingID = #{hangyeleixingid,jdbcType=INTEGER},
      HangYeLeiXingMingCheng = #{hangyeleixingmingcheng,jdbcType=CHAR},
      PaiMaiMoShiID = #{paimaimoshiid,jdbcType=INTEGER},
      PaiMaiZhuangTaiID = #{paimaizhuangtaiid,jdbcType=INTEGER},
      ShiFouPaiMai = #{shifoupaimai,jdbcType=INTEGER},
      ShangPinMingCheng = #{shangpinmingcheng,jdbcType=CHAR},
      YongHuMingCheng = #{yonghumingcheng,jdbcType=CHAR},
      ShouCangShu = #{shoucangshu,jdbcType=INTEGER},
      CanKaoJia = #{cankaojia,jdbcType=DECIMAL},
      BaojiaShu = #{baojiashu,jdbcType=INTEGER},
      XiaDanShu = #{xiadanshu,jdbcType=INTEGER},
      PaiMaiChuJiaShu = #{paimaichujiashu,jdbcType=INTEGER},
      QiPaiJiaGe = #{qipaijiage,jdbcType=DECIMAL},
      DangQianJiaGe = #{dangqianjiage,jdbcType=DECIMAL},
      QiPaiShiJian = #{qipaishijian,jdbcType=TIMESTAMP},
      JieShuShiJian = #{jieshushijian,jdbcType=TIMESTAMP},
      ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      ShiFouXiaJia = #{shifouxiajia,jdbcType=INTEGER},
      BeiZhu = #{beizhu,jdbcType=VARCHAR},
      ChanPinFenLeiID = #{chanpinfenleiid,jdbcType=INTEGER},
      ChanPinFenLeiMingCheng = #{chanpinfenleimingcheng,jdbcType=CHAR},
      BaoJiaJieShuShiJian = #{baojiajieshushijian,jdbcType=DATE},
      ChanPinPinPai = #{chanpinpinpai,jdbcType=CHAR},
      ChanPinXingHao = #{chanpinxinghao,jdbcType=CHAR},
      FaBuShiJian = #{fabushijian,jdbcType=TIMESTAMP},
      FengMianURL = #{fengmianurl,jdbcType=CHAR},
      XiangXiShuoMing = #{xiangxishuoming,jdbcType=LONGVARCHAR}
    where ShangPinID = #{shangpinid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbippub.pojo.HbipPubProduct" >
    update hbip_pub_product
    set DianPuID = #{dianpuid,jdbcType=INTEGER},
      DianPuName = #{dianpuname,jdbcType=CHAR},
      WeiTuoZhuangTai = #{weituozhuangtai,jdbcType=INTEGER},
      JieShouWeiTuoShiJian = #{jieshouweituoshijian,jdbcType=TIMESTAMP},
      YongHuID = #{yonghuid,jdbcType=INTEGER},
      HangYeLeiXingID = #{hangyeleixingid,jdbcType=INTEGER},
      HangYeLeiXingMingCheng = #{hangyeleixingmingcheng,jdbcType=CHAR},
      PaiMaiMoShiID = #{paimaimoshiid,jdbcType=INTEGER},
      PaiMaiZhuangTaiID = #{paimaizhuangtaiid,jdbcType=INTEGER},
      ShiFouPaiMai = #{shifoupaimai,jdbcType=INTEGER},
      ShangPinMingCheng = #{shangpinmingcheng,jdbcType=CHAR},
      YongHuMingCheng = #{yonghumingcheng,jdbcType=CHAR},
      ShouCangShu = #{shoucangshu,jdbcType=INTEGER},
      CanKaoJia = #{cankaojia,jdbcType=DECIMAL},
      BaojiaShu = #{baojiashu,jdbcType=INTEGER},
      XiaDanShu = #{xiadanshu,jdbcType=INTEGER},
      PaiMaiChuJiaShu = #{paimaichujiashu,jdbcType=INTEGER},
      QiPaiJiaGe = #{qipaijiage,jdbcType=DECIMAL},
      DangQianJiaGe = #{dangqianjiage,jdbcType=DECIMAL},
      QiPaiShiJian = #{qipaishijian,jdbcType=TIMESTAMP},
      JieShuShiJian = #{jieshushijian,jdbcType=TIMESTAMP},
      ShiFouYiShanChu = #{shifouyishanchu,jdbcType=INTEGER},
      ShiFouXiaJia = #{shifouxiajia,jdbcType=INTEGER},
      BeiZhu = #{beizhu,jdbcType=VARCHAR},
      ChanPinFenLeiID = #{chanpinfenleiid,jdbcType=INTEGER},
      ChanPinFenLeiMingCheng = #{chanpinfenleimingcheng,jdbcType=CHAR},
      BaoJiaJieShuShiJian = #{baojiajieshushijian,jdbcType=DATE},
      ChanPinPinPai = #{chanpinpinpai,jdbcType=CHAR},
      ChanPinXingHao = #{chanpinxinghao,jdbcType=CHAR},
      FaBuShiJian = #{fabushijian,jdbcType=TIMESTAMP},
      FengMianURL = #{fengmianurl,jdbcType=CHAR}
    where ShangPinID = #{shangpinid,jdbcType=INTEGER}
  </update>
</mapper>